.home-page {
    .text-zone{
        position: absolute;
        left: 5%;
        top: 50%;
        width: 60%;
        transform: translateY(-50%);
        padding-left: 150px;
    }

    h1 {
        color: white;
        font-size: 55px;
        font-weight: 300;
        margin: 0;

        &::before{
            content: '<h1>';
            color: #eaca13;
            font-size: 25px;
            position: absolute;
            margin-top: -20px;
            left: 10px;
            padding-left: 150px;
            
            animation: fadeIn 1s 0.3s backwards;
        }
    
        &::after{
            content: "<h1/>";
            color: #eaca13;
            font-size: 25px;
            position: absolute;
            margin-top: 28px;
            margin-left: 18px;
            

            animation: fadeIn 1s 2.4s backwards;
    
        }
    }

    h2{
        color: #eaca13;
        margin-top:  20px;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Coolvetica';
        animation: fadeIn 1s 3s backwards;
    }

    .flat-button{
        color: #eaca13;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
        
        padding: 10px 18px;
        border: 1px solid #eaca13;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 3s backwards;
        white-space: nowrap;

        &:hover{
            background-color: #eaca13;
            color: #222;
        }
    }

    
}